
footer {
    margin: 50px 0;
}
.copyright {
    color: #9b9b9b;
}

.social {
    margin-left: 200px;
}

.logo-footer {
    h1 {
    font-size: 18px;
    font-weight: bold;
    color: #9b9b9b;
    text-transform: uppercase;
    }
    span {
        color: #9b9b9b;
        font-weight: normal;
    }
}
